<div class="form-container">
  <h2>Dynamic Form Builder</h2>
  <div class="field-buttons">
    <button type="button" (click)="addField('text')">Add Your Name</button>
    <button type="button" (click)="addField('textarea')">Tell Me About Yourself</button>
    <button type="button" (click)="addField('dropdown')">Add Country</button>
    <button type="button" (click)="addField('checkbox')">Add Your Hobbies</button>
    <button type="button" (click)="addField('radio')">Add Gender</button>
  </div>
  <form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
    <div *ngFor="let field of fields; let i = index" class="form-field">
      <label>
        {{ field.label }}
        <span class="required-marker" *ngIf="field.isRequired">*</span>
      </label>
      <ng-container [ngSwitch]="field.type">
        <input 
          *ngSwitchCase="'text'" 
          type="text" 
          [formControlName]="field.label" 
          [placeholder]="field.placeholder" 
          class="form-control"
          [class.is-invalid]="isFieldInvalid(field.label)"
        />
        <textarea 
          *ngSwitchCase="'textarea'" 
          [formControlName]="field.label" 
          [placeholder]="field.placeholder" 
          class="form-control"
          [class.is-invalid]="isFieldInvalid(field.label)"
        ></textarea>

        <select 
          *ngSwitchCase="'dropdown'" 
          [formControlName]="field.label" 
          class="form-control"
          [class.is-invalid]="isFieldInvalid(field.label)"
        >
          <option value="" disabled>Select an option</option>
          <option *ngFor="let option of field.options" [value]="option">{{ option }}</option>
        </select>

        <div *ngSwitchCase="'checkbox'" class="checkbox-group">
          <div *ngFor="let option of field.options; let j = index" class="checkbox-item">
            <label>
              <input 
                type="checkbox" 
                [value]="option"
                (change)="onCheckboxChange(field, j, $event)"
                [checked]="getFormArray(field).at(j).value"
                class="form-check-input" 
              />
              {{ option }}
            </label>
          </div>
        </div>

        <div *ngSwitchCase="'radio'" class="radio-group">
          <label *ngFor="let option of field.options">
            <input 
              type="radio" 
              [formControlName]="field.label" 
              [value]="option" 
              class="form-check-input" 
            />
            {{ option }}
          </label>
        </div>
      </ng-container>
    
      <div class="error-message" *ngIf="isFieldInvalid(field.label)">
        {{ getErrorMessage(field) }}
      </div>
      
      <button type="button" (click)="removeField(i)" class="remove-button">Remove</button>
    </div>
    <button type="submit" class="submit-button" >Submit</button>
  </form>
</div>